@import "./variables";

$button-themes: (
  red: (
    $red,
    $white,
  ),
);
.button {
  background-color: $white;
  border: none;
  border-radius: 3px;
  color: $dark-grey;
  font-weight: 700;
  padding: 15px 0;
  @each $name, $colors in $button-themes {
    $bgcolor: nth($colors, 1);
    $fontcolor: nth($colors, 2);
    &--#{$name} {
      background-color: $bgcolor;
      color: $fontcolor;
    }
  }
}
