@import "variables";

input,
select {
  background-color: $white;
}

input,
select,
button {
  background-image: none;
  text-align: left;
  height: 50px;
  border-radius: 3px;
  border: none;
  font-weight: 700;

  &::placeholder {
    color: $placeholder-grey;
    opacity: 1;
  }

  ::-ms-input-placeholder {
    color: $placeholder-grey;
  }
}

input,
select {
  padding: 10px 0px 10px 25px;
}

button {
  padding: 0;
}

select {
  background-image: url("/Arrow.png") !important;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 87.5% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:invalid {
  color: $placeholder-grey;
}
