<template>
  <section class="featured-container">
    <featured-filters />
    <div class="container--events">
      <featured-card v-for="item in featuredCards" :key="item.eventId" :item="item" />
    </div>
    <div class="discover">
      <a class="button button--red" href="#">Discover more</a>
    </div>
  </section>
</template>

<script>
import FeaturedCard from "./FeaturedCard.vue";
import FeaturedFilters from "./FeaturedFilters.vue";

export default {
  components: {
    FeaturedCard,
    FeaturedFilters
  },
  data() {
    return {
      featuredCards: [
        {
          eventId: 0,
          eventTitle: "Kenny Chesney w/ Grace Potter",
          eventUrl: "#",
          imagePath: "images/EventPhoto1.png",
          eventPrice: "$30-260",
          eventGenre: "Country",
          eventLocation: "Nashville, TN"
        },
        {
          eventId: 1,
          eventTitle: "Gerald Albright Band",
          eventUrl: "#",
          imagePath: "images/EventPhoto2.png",
          eventPrice: "$15-90",
          eventGenre: "Jazz",
          eventLocation: "Atlanta, GA"
        },
        {
          eventId: 2,
          eventTitle: "The Rock Church",
          eventUrl: "#",
          imagePath: "images/EventPhoto3.png",
          eventPrice: "$20-40",
          eventGenre: "Electronic",
          eventLocation: "Birmingham, AL"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.featured-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 0 20px;
}

.container--events {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  justify-content: center;
}

.discover {
  display: flex;
  justify-content: center;
  margin: 20px auto 50px;
  width: 100%;

  a {
    height: 50px;
    width: 188px;
  }
}

@media (min-width: 768px) {
  .featured-container {
    padding: 0 85px;
  }
  .container--events {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .container--events div:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 1025px) {
  .featured-container {
    padding: 0 85px;
  }
  .container--events {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .container--events div:first-child {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}
</style>
