<template>
  <ul class="filters__container">
    <li 
      class="filters__item" 
      v-for="item in filters" 
      :key="item.title"
      @click="selectFilter(item)"
    >
      {{ item.title }}
      <span v-if="item === currentFilter"></span>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      currentFilter: null,
      filters: [
        {
          title: "Most popular"
        },
        {
          title: "Coming up"
        },
        {
          title: "Near you"
        }
      ]
    };
  },
  mounted() {
    this.currentFilter = this.filters[0];
  },
  methods: {
    selectFilter: function(item) {
      this.currentFilter = item;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables";

.filters__container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 40px 0;
}

.filters__item {
  color: $dark-grey;
  font-weight: 700;
  margin: 0 12.5px 0 0;
  cursor: pointer;
}
span {
  background-color: $red;
  display: block;
  height: 3px;
  left: 0px;
  position: relative;
  top: 2px;
  width: 37.5px;
}

@media (min-width: 768px) {
  .filters__container {
    margin: 50px 0;
  }
}

@media (min-width: 1024px) {
  .filters__container {
    margin: 60px 0 40px;
  }
}
</style>
