<template>
  <div class="card--container">
    <img :src="require(`@/assets/${item.imagePath}`)" />
    <div class="card__info-container">
      <div class="grid-1">
        <div class="card__info">{{ item.eventGenre }}</div>
        <div class="card__title">{{ item.eventTitle }}</div>
      </div>
      <div class="grid-2">
        <div class="card__info">Location</div>
        <div class="card__location">{{ item. eventLocation }}</div>
      </div>
      <div class="grid-3">
        <div class="card__info">Price</div>
        <div class="card__price">{{ item.eventPrice }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      eventId: Number,
      eventTitle: String,
      eventUrl: String,
      imagePath: String,
      eventPrice: String,
      eventGenre: String,
      eventLocation: String,
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../styles/variables";

.card--container {
  max-width: 100%;
  padding: 0 0 25px;
}

.card--container:last-child {
  padding: 0;
}

img {
  border-radius: 3px;
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 10%;
  width: 100%;
}

.card__info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  min-height: 70px;
  width: 100%;
}

.grid-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  border-bottom: 1px solid $light-grey;
}

.grid-2 {
  border-right: 0.5px solid $light-grey;
  grid-column-start: 1;
  grid-row-start: 2;
}
.grid-3 {
  border-left: 0.5px solid $light-grey;
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 0 0 0 15px;
}

.card__info,
.card__title,
.card__price,
.card__location {
  font-weight: 700;
}
.card__info {
  color: $grey;
  font-size: 12px;
  margin: 8px 0;
  text-transform: uppercase;
}

.card__title {
  color: $dark-grey;
  font-size: 18px;
  margin: 0 0 15px 0;
}

.card__price,
.card__location {
  color: $dark-grey;
  font-size: 16px;
}
</style>
