<template>
  <li>
    <a :href="icon.platformUrl">
      <img :src="require(`@/assets/${icon.iconPath}`)" :alt="`${icon.platformName} Icon`" />
    </a>
  </li>
</template>

<script>
export default {
  props: {
    icon: {
      platformName: String,
      iconUrl: String,
      linkUrl: String
    }
  }
};
</script>

<style lang="scss" scoped>
li {
  margin: 0 7.5px;
}
</style>
