<template>
  <footer>
    <ul class="footer__list footer__list--social">
      <footer-icon v-for="icon in socialMediaIcons" :key="icon.platform" :icon="icon" />
    </ul>
    <ul class="footer__list footer__list--navigation">
      <li>
        <a title="Lewis Communications" href="#">&copy; 2018 Lewis</a>
      </li>
      <li>
        <a title="Privacy Policy" href="#">Privacy Policy</a>
      </li>
      <li>
        <a title="Terms of Use" href="#">Terms of Use</a>
      </li>
    </ul>
  </footer>
</template>

<script>
import axios from "axios";
import FooterIcon from "./FooterIcon.vue";

export default {
  data() {
    return {
      icons: []
    };
  },
  computed: {
    socialMediaIcons() {
      return this.icons;
    }
  },
  components: { FooterIcon },
  methods: {
    fetchSocialMediaData: function() {
      axios
        .get("../data/socialMediaData.json")
        .then(({ data }) => (this.icons = data));
    }
  },
  mounted() {
    this.fetchSocialMediaData();
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables";

footer {
  border-top: 1px solid $light-grey;
  min-height: 100px;
  padding: 30px 0 40px;
  width: 100%;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__list--social {
  padding: 0 0 20px 0;
}

.footer__list--navigation {
  li {
    margin: 0 10px;
  }

  a {
    color: $grey;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
}

@media (min-width: 768px) {
  footer {
    align-items: center;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: 0;
  }
  .footer__list--social {
    padding: 0;
  }
  ul {
    margin: 0 40px;
  }
}
</style>
