<template>
  <header>
    <div class="header__logo">
      <a href="#" alt="Lewis Test Project Logo"><img src="../assets/images/Logo.png"/></a>
    </div>
    <div>
      <ul class="header__navigation">
        <li><a href="#">Browse</a></li>
        <li><a href="#">Discover</a></li>
        <li><a href="#">Add Event</a></li>
        <li><a class="button" href="">Join us</a></li>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
@import "../styles/variables";

header {
  z-index: 10;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  position: absolute;
  width: 100%;
}

.header__logo {
  margin: 0 0 0 25px;
  img {
    max-height: 40px;
  }
}

.header__navigation {
  align-items: center;
  display: flex;
  margin: 0 25px 0 0;
  position: relative;
  li {
    margin: 0 0 0 15px;
  }
  li a {
    color: $white;
    font-size: 15px;
  }
  li:nth-child(-n + 2) {
    display: none;
  }
  .button {
    color: $dark-grey;
    padding: 12.5px 22.5px;
  }
}

@media (min-width: 768px) {
  .header__logo img {
    max-height: 55px;
  }
  .header__navigation {
    li:nth-child(-n + 2) {
      display: block;
    }
    li:last-of-type {
      margin: 0 0 0 30px;
    }
  }
}
</style>


