<template>
  <div class="container--hero">
    <div class="overlay"></div>
    <div class="hero__content">
      <h1 class="hero__heading">Discover the top live music events near you</h1>
      <form class="hero__form" @submit.prevent="handleSubmit">
        <input type="text" required placeholder="Enter your favorite artist or genre"/>
        <select required name="location">
          <option value="" disabled selected hidden>Location</option>
        </select>
        <select required name="price">
          <option value="" disabled selected hidden>Budget</option>
        </select>
        <button class="button--red" type="submit">Find events</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    handleSubmit() {
      console.log("Form Submitted!");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables";

.container--hero {
  display: flex;
  height: 560px;
  max-width: 100%;
  overflow-x: hidden;
}
.overlay {
  height: 560px;
  position: absolute;
  background-image: url("../assets/images/HeroImage.png");
  background-position: 42.5% 20%;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay::before {
  background-color: #5c4e48;
  content: "";
  filter: brightness(0.75);
  height: 560px;
  left: 0;
  opacity: 0.65;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  z-index: 10;
  justify-content: flex-end;
  max-width: 100%;
  padding: 0 20px 40px;
}

.hero__form {
  display: grid;
  grid-column-gap: 7.5px;
  grid-row-gap: 12.5px;
  grid-template-columns: calc(50% - 6.25px) calc(50%);
}

input,
select,
button {
  &:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  &:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  &:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 768px) {
  .container--hero {
    height: 543px;
  }

  .overlay::before {
    height: 543px;
  }

  .overlay {
    height: 543px;
    background-position: 55% -100px;
    background-size: auto;
  }

  .hero__content {
    margin: auto;
    max-width: 500px;
  }

  .hero__form {
    grid-template-columns: calc(33% - 6.25px) calc(33%) calc(33%);
  }

  h1 {
    text-align: center;
  }

  input,
  select,
  button {
    &:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    &:nth-child(2) {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    &:nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 2;
    }
    &:nth-child(4) {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 3;
      text-align: center;
    }
  }
}

@media (min-width: 1024px) {
  .container--hero {
    height: 650px;
  }
  .overlay::before {
    height: 650px;
  }
  .overlay {
    height: 650px;
    background-position: center;
    background-size: cover;
  }
}
</style>
