<template>
  <div id="app">
    <Header />
    <Hero />
    <featured-container />
    <Footer />
  </div>
</template>

<script>
// eslint-disable-next-line
import normalize from "normalize.css";
import Header from "./components/Header.vue";
import Hero from "./components/Hero.vue";
import FeaturedContainer from "./components/FeaturedContainer.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "app",
  components: {
    Header,
    Hero,
    FeaturedContainer,
    Footer
  }
};
</script>

<style lang="scss">
@import "./styles/app.scss";

#app {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  justify-content: space-between;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
